.Div {
    padding: 5px 0;
}

.TagsButton {
    margin: auto 2px;
}

.Button {
    text-transform: none !important;
    min-height: 20px !important;
    min-width: 20px !important;
    max-width: 100% !important;
    padding: 5px !important;
    margin: 3px !important;
}