.Header {
    background-color: white;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.Header a {
    text-decoration: none;
}

.Title {
	font-family: 'STARWARS';
	text-transform: uppercase;
    color: Black;
    margin: 0;
    padding: 1rem;
}

.Nav {
    list-style: none;
    display: flex;
    height: 100%;
    margin: 0;
}

.Link {
    margin-right: 1rem;
    cursor: pointer;
    text-decoration: none;
    display: table;
    height: 100%;
}

.Link a {
    display: table-cell;
    vertical-align: middle;
    color: black;
}

.Link a:hover, .Link a:active, .Link a.Active  {
    color: #5d86bb;
}

.Active {
    border-bottom: 5px solid #5d86bb;
}

@font-face {
	font-family:"STARWARS";
	src:url("../../assets/fonts/starWars/STARWARS.eot?") format("eot"),
		url("../../assets/fonts/starWars/STARWARS.woff") format("woff"),
		url("../../assets/fonts/starWars/STARWARS.ttf") format("truetype"),
		url("../../assets/fonts/starWars/STARWARS.svg#STARWARS") format("svg");
	font-weight:normal;
	font-style:normal;
}