.Minifig {
	width: calc(20% - 10px);
	padding: 0.5rem;
	border: 1px solid #ccc;
	margin: 5px;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	background-color: white;
	box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.75);
	border-radius: 6px;
}

.MinifigPicture {
	width: 95%;
	margin: 5px 0;
	cursor: zoom-in;
}

.ModalPicture {
	height: 90%;
	max-width: 100%;
	display: block;
	margin: auto;
}

.ModalTitle {
	text-align: center;
	height: 10%;
	margin: 0;
	font-size: 1.5rem;
}

.LogoLinks{
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 5px 0;
}

.TagsDiv {
    padding: 5px 0;
}

.TagsButton {
    margin: auto 2px;
}

.EditDiv {
    display: flex;
}

.EditButton {
    padding: 0;
    height: auto;
}

@media (max-width: 800px){
		.Minifig{
		width: calc(33% - 10px);
	}
}

@media (max-width: 370px){
		.Minifig{
		width: calc(100% - 10px);
	}
}