.Main {
	max-width: 1200px;
	margin: auto;
}

body {
	background-image: url(../../assets/images/background.jpg);
	background-size: 100%;
}

@media (min-width: 1100px){
	.Main {
	width: 70%;
	}
	body{
		background-size: 50%;
	}
}

